.vmodal.open {
  opacity: 1;
  z-index: 100;
  background: rgba(0, 0, 0, .5);
}

.vmodal.open .modal-window {
  transform: translateY(100px);
}

.vmodal.hide .modal-window {
  transform: translateY(-200px);
}

.vmodal.hide {
  opacity: 1;
  z-index: 100;
  background: rgba(0, 0, 0, 0);
}

.vmodal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    z-index: -1;
    transition: background .3s;

    .modal-window {
      max-width: 300px;
      border-radius: 5px;
      padding: 30px;
      background-color: #fff;
      margin: 0 auto;
      transform: translateY(-200px);
      transition: transform .3s;

      @media (max-width: 400px) {
        margin: 0 10px;
      }
    }

    .modal-header {
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
    }

    .modal-close {
      cursor: pointer;
    }

    .modal-title {
      font-size: 20px;
      font-weight: 700;
      color: #5892a6;
      margin: 0 auto;
    }
    
    .modal-body {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .modal-body-text {
        font-size: 14px;
        color: #000;
        font-weight: 400;
        margin: 15px 0;
        text-align: center;
      }

      .modal-input {
        display: block;
        border: 1px solid #e8e8e8;
        padding: 10px 30px;
        border-radius: 25px;
        font-size: 15px;
        font-weight: 400;
        width: 200px;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 12px;
      }

      .modal-button {
        background-color: #68b0c9;
        font-weight: 700;
        color: #fff;
        box-shadow: 0 3px 5px 0 rgba(#000, 0.15);
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px 30px;
        border-radius: 25px;
        border: none;

        &:hover {
          background-color: #5ea5bd;
        }
      }
    }

    .modal-footer {
      padding: 5px 10px;
      border-top: 1px solid #eee;
    }
}
